<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                <h4>Welcome to</h4>
                <h4>Career Navigator</h4>
            </div>
        </div>
        <br><br>
        <div class="form-container">
            <div class="button-container">
                <a href="/new_prediction" class="btn blue">New Prediction</a>
                <a href="/view_predictions" class="btn pink">View Predicted Job Roles</a>
                <a href="/logout" class="btn purple">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
